automation/n8n/spinora-blog-automation.json
{
  "name": "Spinora — AI blog draft (n8n)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Test manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 3 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 3 days",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 480]
    },
    {
      "parameters": {
        "jsCode": "const topics = [\n  'How to claim the 50% first deposit bonus at Spinora',\n  'Fire Kirin beginner tips for new players',\n  'Juwa fish table strategy — ammo and target selection',\n  'How to deposit with CashApp at Spinora step by step',\n  'Best fish table games for beginners in 2026',\n  'How VIP levels and daily rewards work at Spinora',\n  'Game Vault vs Juwa — which should you play first',\n  'How to redeem winnings safely at Spinora'\n];\nconst day = Math.floor(Date.now() / (86400000 * 3));\nconst topic = topics[day % topics.length];\nreturn [{ json: { topic } }];"
      },
      "id": "pick-topic",
      "name": "Pick topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an SEO blog writer for Spinora (spinoracasinos.com), a US sweepstakes / fish-table gaming platform.\\n\\nWrite ONE blog post about: {{ $json.topic }}\\n\\nRules:\\n- Helpful, original, not spammy\\n- Mention Spinora naturally 2-3 times\\n- Include a short disclaimer that players must follow local rules\\n- Markdown body with ## headings, bullet lists, one table if useful\\n- 900-1400 words in content\\n\\nReturn ONLY valid JSON (no markdown fences) with keys:\\n title (string, max 120 chars)\\n excerpt (string, max 280 chars)\\n content (string, markdown)\\n tags (array of 3-6 lowercase strings)\\n seo_title (string, max 65 chars)\\n seo_description (string, max 160 chars)\\n image_prompt (string, describe a cinematic blog hero image, no text in image)\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"temperature\": 0.7\n  }\n}"
      },
      "id": "gemini-write",
      "name": "Gemini — write article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "jsCode": "const raw =\n  $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text ??\n  $input.first().json.text ??\n  '';\nlet post;\ntry {\n  post = JSON.parse(raw);\n} catch {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('Gemini did not return JSON');\n  post = JSON.parse(match[0]);\n}\nconst imagePrompt = post.image_prompt || post.title || 'casino neon lights abstract';\nconst cover_image_url =\n  'https://image.pollinations.ai/prompt/' +\n  encodeURIComponent(imagePrompt + ', professional blog hero, wide 16:9, no text, no watermark') +\n  '?width=1200&height=630&nologo=true';\nreturn [{ json: { ...post, cover_image_url, status: 'draft' } }];"
      },
      "id": "parse-post",
      "name": "Parse + image URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SPINORA_SITE_URL }}/api/automation/blog",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"excerpt\": {{ JSON.stringify($json.excerpt || '') }},\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"cover_image_url\": {{ JSON.stringify($json.cover_image_url) }},\n  \"tags\": {{ JSON.stringify($json.tags || []) }},\n  \"seo_title\": {{ JSON.stringify($json.seo_title || '') }},\n  \"seo_description\": {{ JSON.stringify($json.seo_description || '') }},\n  \"status\": \"draft\"\n}"
      },
      "id": "spinora-save",
      "name": "Spinora — save draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Spinora N8N Blog Secret"
        }
      }
    }
  ],
  "connections": {
    "Test manually": {
      "main": [[{ "node": "Pick topic", "type": "main", "index": 0 }]]
    },
    "Every 3 days": {
      "main": [[{ "node": "Pick topic", "type": "main", "index": 0 }]]
    },
    "Pick topic": {
      "main": [[{ "node": "Gemini — write article", "type": "main", "index": 0 }]]
    },
    "Gemini — write article": {
      "main": [[{ "node": "Parse + image URL", "type": "main", "index": 0 }]]
    },
    "Parse + image URL": {
      "main": [[{ "node": "Spinora — save draft", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
